flows.json
[
    {
        "id": "cae5227b907b5602",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7e687ef2b7a2af2c",
        "type": "tab",
        "label": "Loops Example",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "6890a2de1814b84e",
        "type": "tab",
        "label": "Mock FROST Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7bea746999d0be15",
        "type": "tab",
        "label": "Mock METER.AC File",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c436fa76dcc9e99a",
        "type": "postgreSQLConfig",
        "name": "MeterAC Meta Database",
        "host": "localhost",
        "hostFieldType": "str",
        "port": "15432",
        "portFieldType": "num",
        "database": "meterac",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "sensorthings",
        "userFieldType": "str",
        "password": "03N8gaupWWkVwD7G19MC",
        "passwordFieldType": "str"
    },
    {
        "id": "ed407ee7cce358c9",
        "type": "inject",
        "z": "cae5227b907b5602",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "381882723424c835"
            ]
        ]
    },
    {
        "id": "cc3fbbc11988dcac",
        "type": "debug",
        "z": "cae5227b907b5602",
        "name": "Debug Processing All Nodes End",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 80,
        "wires": []
    },
    {
        "id": "7cef52d41aa45cea",
        "type": "function",
        "z": "cae5227b907b5602",
        "name": "Create Nodes Array",
        "func": "var nodes_array = [{name: \"N01\"}, {name: \"N03\"}, {name: \"N06\"}]\nmsg.nodes_array = nodes_array;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 60,
        "wires": [
            [
                "e3ee4258de8c1c5d",
                "d23a411b5ea55606"
            ]
        ]
    },
    {
        "id": "e3ee4258de8c1c5d",
        "type": "array-loop",
        "z": "cae5227b907b5602",
        "name": "Process Nodes",
        "key": "ale3ee4258de8c1c5d",
        "keyType": "msg",
        "reset": false,
        "resetValue": "value-null",
        "array": "nodes_array",
        "arrayType": "msg",
        "x": 500,
        "y": 160,
        "wires": [
            [
                "3ae7d4db21a28c3e"
            ],
            [
                "ead8bb6b3d7e4734",
                "3d282e9bc6825183"
            ]
        ]
    },
    {
        "id": "3d282e9bc6825183",
        "type": "delay",
        "z": "cae5227b907b5602",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 280,
        "wires": [
            [
                "c5bec40d0dce6707",
                "3219794e0e5813fa"
            ]
        ]
    },
    {
        "id": "c5bec40d0dce6707",
        "type": "debug",
        "z": "cae5227b907b5602",
        "name": "Node End",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 340,
        "wires": []
    },
    {
        "id": "ead8bb6b3d7e4734",
        "type": "debug",
        "z": "cae5227b907b5602",
        "name": "Node Start",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "bd37c211a7e3c99d",
        "type": "function",
        "z": "cae5227b907b5602",
        "name": "Return Message",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 440,
        "wires": [
            [
                "e3ee4258de8c1c5d",
                "d493253f7c25430a"
            ]
        ]
    },
    {
        "id": "381882723424c835",
        "type": "postgresql",
        "z": "cae5227b907b5602",
        "name": "Obtain a List of Nodes",
        "query": "SELECT name FROM public.device;",
        "postgreSQLConfig": "c436fa76dcc9e99a",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 320,
        "y": 640,
        "wires": [
            [
                "df8bb4532849ed1d"
            ]
        ]
    },
    {
        "id": "3ae7d4db21a28c3e",
        "type": "function",
        "z": "cae5227b907b5602",
        "name": "Return Complete",
        "func": "msg.payload = \"Complete.\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 120,
        "wires": [
            [
                "cc3fbbc11988dcac"
            ]
        ]
    },
    {
        "id": "3a850190122b6199",
        "type": "inject",
        "z": "cae5227b907b5602",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "7cef52d41aa45cea"
            ]
        ]
    },
    {
        "id": "df8bb4532849ed1d",
        "type": "debug",
        "z": "cae5227b907b5602",
        "name": "Debug List of Nodes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 640,
        "wires": []
    },
    {
        "id": "c8b8f26e7aa43e5d",
        "type": "http request",
        "z": "cae5227b907b5602",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 420,
        "wires": [
            [
                "5b5198bb1441ab39",
                "f53061b7e6346079"
            ]
        ]
    },
    {
        "id": "3219794e0e5813fa",
        "type": "change",
        "z": "cae5227b907b5602",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://127.0.0.1:1880/getfile",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 340,
        "wires": [
            [
                "c8b8f26e7aa43e5d"
            ]
        ]
    },
    {
        "id": "8b109c9be6c7f73d",
        "type": "comment",
        "z": "cae5227b907b5602",
        "name": "TODO: correct address",
        "info": "",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "5b5198bb1441ab39",
        "type": "debug",
        "z": "cae5227b907b5602",
        "name": "GetFile Payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 540,
        "wires": []
    },
    {
        "id": "2462f18c8476d6a9",
        "type": "array-loop",
        "z": "cae5227b907b5602",
        "name": "Process Node Data",
        "key": "al2462f18c8476d6a9",
        "keyType": "msg",
        "reset": false,
        "resetValue": "value-null",
        "array": "node_data",
        "arrayType": "msg",
        "x": 1270,
        "y": 520,
        "wires": [
            [
                "bd37c211a7e3c99d"
            ],
            [
                "7fc79e8511ea4e8f",
                "4d6dae8ac275cffe"
            ]
        ]
    },
    {
        "id": "7fc79e8511ea4e8f",
        "type": "delay",
        "z": "cae5227b907b5602",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1260,
        "y": 620,
        "wires": [
            [
                "d20e1ce9259b672b",
                "40395c49fc5b987b"
            ]
        ]
    },
    {
        "id": "d20e1ce9259b672b",
        "type": "debug",
        "z": "cae5227b907b5602",
        "name": "Data End",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 720,
        "wires": []
    },
    {
        "id": "4d6dae8ac275cffe",
        "type": "debug",
        "z": "cae5227b907b5602",
        "name": "Data Start",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 540,
        "wires": []
    },
    {
        "id": "40395c49fc5b987b",
        "type": "function",
        "z": "cae5227b907b5602",
        "name": "Return Message",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 640,
        "wires": [
            [
                "2462f18c8476d6a9",
                "23815575a986b84c"
            ]
        ]
    },
    {
        "id": "f53061b7e6346079",
        "type": "change",
        "z": "cae5227b907b5602",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "node_data",
                "pt": "msg",
                "to": "$split(msg.payload, '\\n')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "2462f18c8476d6a9",
                "1001336cfbae2908"
            ]
        ]
    },
    {
        "id": "1001336cfbae2908",
        "type": "debug",
        "z": "cae5227b907b5602",
        "name": "Node Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "node_data",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 420,
        "wires": []
    },
    {
        "id": "d23a411b5ea55606",
        "type": "debug",
        "z": "cae5227b907b5602",
        "name": "Nodes Array",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "nodes_array",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 40,
        "wires": []
    },
    {
        "id": "23815575a986b84c",
        "type": "debug",
        "z": "cae5227b907b5602",
        "name": "Return Data Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 680,
        "wires": []
    },
    {
        "id": "d493253f7c25430a",
        "type": "debug",
        "z": "cae5227b907b5602",
        "name": "Return Node Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 320,
        "wires": []
    },
    {
        "id": "fd2d7768.345b98",
        "type": "inject",
        "z": "7e687ef2b7a2af2c",
        "name": "msg.payload = \"Red\"",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Red",
        "payloadType": "str",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "320b54d6.e604d4"
            ]
        ]
    },
    {
        "id": "676a128f.8a03dc",
        "type": "debug",
        "z": "7e687ef2b7a2af2c",
        "name": "msg.result = RedRedRedRedRed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "result",
        "targetType": "msg",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "5d19cb24.ac3444",
        "type": "change",
        "z": "7e687ef2b7a2af2c",
        "name": "msg.result = msg.result + msg.payload",
        "rules": [
            {
                "t": "set",
                "p": "result",
                "pt": "msg",
                "to": "$join([msg.result, msg.payload])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 645,
        "y": 215,
        "wires": [
            [
                "320b54d6.e604d4"
            ]
        ]
    },
    {
        "id": "1a60a19a.718526",
        "type": "array-loop",
        "z": "7e687ef2b7a2af2c",
        "name": "array-loop",
        "key": "al1a60a19a718526",
        "keyType": "msg",
        "reset": false,
        "resetValue": "value-null",
        "array": "array",
        "arrayType": "msg",
        "x": 840,
        "y": 335,
        "wires": [
            [
                "2a06fe8f.883d92"
            ],
            [
                "a9176a45.c66998"
            ]
        ]
    },
    {
        "id": "122377f3.e507f8",
        "type": "inject",
        "z": "7e687ef2b7a2af2c",
        "name": "msg.payload = \"A, B, C, D, E\"",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "A, B, C, D, E",
        "payloadType": "str",
        "x": 360,
        "y": 335,
        "wires": [
            [
                "c129d4e9.65ec6"
            ]
        ]
    },
    {
        "id": "2a06fe8f.883d92",
        "type": "debug",
        "z": "7e687ef2b7a2af2c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 335,
        "wires": []
    },
    {
        "id": "c129d4e9.65ec6",
        "type": "change",
        "z": "7e687ef2b7a2af2c",
        "name": "split msg.payload by \", \"",
        "rules": [
            {
                "t": "set",
                "p": "array",
                "pt": "msg",
                "to": "$split(msg.payload, ', ')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 335,
        "wires": [
            [
                "1a60a19a.718526"
            ]
        ]
    },
    {
        "id": "a72c351c.98ba48",
        "type": "function",
        "z": "7e687ef2b7a2af2c",
        "name": "return msg",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 410,
        "wires": [
            [
                "548c8549.cc9904",
                "1a60a19a.718526"
            ]
        ]
    },
    {
        "id": "548c8549.cc9904",
        "type": "debug",
        "z": "7e687ef2b7a2af2c",
        "name": "1st: \"A\", 2nd: \"B\", 3rd: \"C\", 4th: \"D\", 5th: \"E\"",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1295,
        "y": 410,
        "wires": []
    },
    {
        "id": "a9176a45.c66998",
        "type": "delay",
        "z": "7e687ef2b7a2af2c",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 410,
        "wires": [
            [
                "a72c351c.98ba48"
            ]
        ]
    },
    {
        "id": "320b54d6.e604d4",
        "type": "counter-loop",
        "z": "7e687ef2b7a2af2c",
        "name": "counter-loop",
        "counter": "il320b54d6e604d4",
        "counterType": "msg",
        "reset": false,
        "resetValue": "value-null",
        "initial": "0",
        "initialType": "num",
        "operator": "lt",
        "termination": "5",
        "terminationType": "num",
        "increment": 1,
        "incrementType": "num",
        "x": 565,
        "y": 140,
        "wires": [
            [
                "676a128f.8a03dc"
            ],
            [
                "5d19cb24.ac3444"
            ]
        ]
    },
    {
        "id": "1c8465fc.10e082",
        "type": "while-loop",
        "z": "7e687ef2b7a2af2c",
        "name": "while-loop",
        "condi": "msg.payload % 3 !== 0",
        "x": 510,
        "y": 545,
        "wires": [
            [
                "b887c6d1.43c668"
            ],
            [
                "24b7b946.fcc9b6"
            ]
        ]
    },
    {
        "id": "7e4cca20.588e7c",
        "type": "inject",
        "z": "7e687ef2b7a2af2c",
        "name": "msg.payload = 5",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 320,
        "y": 545,
        "wires": [
            [
                "1c8465fc.10e082"
            ]
        ]
    },
    {
        "id": "b887c6d1.43c668",
        "type": "debug",
        "z": "7e687ef2b7a2af2c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 745,
        "y": 545,
        "wires": []
    },
    {
        "id": "24b7b946.fcc9b6",
        "type": "change",
        "z": "7e687ef2b7a2af2c",
        "name": "msg.payload--",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload) -1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 620,
        "wires": [
            [
                "a72010f2.69313",
                "64d645c5.fe848c"
            ]
        ]
    },
    {
        "id": "64d645c5.fe848c",
        "type": "debug",
        "z": "7e687ef2b7a2af2c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 715,
        "y": 665,
        "wires": []
    },
    {
        "id": "a72010f2.69313",
        "type": "delay",
        "z": "7e687ef2b7a2af2c",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 705,
        "y": 620,
        "wires": [
            [
                "1c8465fc.10e082"
            ]
        ]
    },
    {
        "id": "d5600b9a.fd9288",
        "type": "comment",
        "z": "7e687ef2b7a2af2c",
        "name": "msg.payload % 3 !== 0",
        "info": "",
        "x": 550,
        "y": 500,
        "wires": []
    },
    {
        "id": "1a4ccb184f217c71",
        "type": "http in",
        "z": "6890a2de1814b84e",
        "name": "",
        "url": "/frost",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "a007e37e4c6ad277",
                "a79694847aef5a5b"
            ]
        ]
    },
    {
        "id": "a007e37e4c6ad277",
        "type": "debug",
        "z": "6890a2de1814b84e",
        "name": "Debug Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "ea7cf0a0a0c4e00f",
        "type": "http response",
        "z": "6890a2de1814b84e",
        "name": "OK",
        "statusCode": "200",
        "headers": {},
        "x": 930,
        "y": 100,
        "wires": []
    },
    {
        "id": "02ac53c01fe46f19",
        "type": "function",
        "z": "6890a2de1814b84e",
        "name": "Build OK Response",
        "func": "msg.payload = {\n    status: \"OK\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 100,
        "wires": [
            [
                "ea7cf0a0a0c4e00f"
            ]
        ]
    },
    {
        "id": "a79694847aef5a5b",
        "type": "delay",
        "z": "6890a2de1814b84e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 520,
        "y": 100,
        "wires": [
            [
                "02ac53c01fe46f19"
            ]
        ]
    },
    {
        "id": "3aa06e365d7e7f69",
        "type": "http in",
        "z": "7bea746999d0be15",
        "name": "GetFileExample",
        "url": "/getfile",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "0f3b8ec52d7ad2ca"
            ]
        ]
    },
    {
        "id": "d065d81647b96967",
        "type": "http response",
        "z": "7bea746999d0be15",
        "name": "Return Response",
        "statusCode": "200",
        "headers": {
            "Content-Type": "text/plain"
        },
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "0f3b8ec52d7ad2ca",
        "type": "function",
        "z": "7bea746999d0be15",
        "name": "Build Response",
        "func": "msg.payload = \"G02 R121 N01 V 45 Z +000 N 00 0014 0018 1012 +21.8 035 016 3.3 1538729821 05.10.2018\";\nmsg.payload += \"\\nG02 R128 N01 V 45 Z +000 N 00 0016 0022 1012 +21.0 034 129 3.3 1538730121 05.10.2018\";\nmsg.payload += \"\\nG02 R142 N01 V 45 Z +000 N 00 0010 0013 1012 +19.6 037 134 3.3 1538730720 05.10.2018\";\nmsg.payload += \"\\nG02 R216 N01 V 46 Z +000 N 00 0011 0015 1012 +22.9 031 010 3.3 1538734363 05.10.2018\";\nmsg.payload += \"\\nG02 R222 N01 V 45 Z +000 N 00 0012 0016 1012 +23.1 032 008 3.3 1538734606 05.10.2018\";\nmsg.payload += \"\\nG02 R298 N01 V 46 Z +000 N 00 0015 0021 1011 +21.1 035 009 3.3 1538738343 05.10.2018\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "d065d81647b96967",
                "a4d4660dcb1b35a1"
            ]
        ]
    },
    {
        "id": "a4d4660dcb1b35a1",
        "type": "debug",
        "z": "7bea746999d0be15",
        "name": "Debug GetFileResponse",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 220,
        "wires": []
    }
]